<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="description" content="Name of your web site">
<meta name="author" content="Marketify">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Dermaspect</title>
<link rel="shortcut icon" href="/static/img/icon.png">


<!-- STYLES -->
<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/static/css/plugins.css" />
<link rel="stylesheet" type="text/css" href="/static/css/dark.css" />
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<!--<link rel="stylesheet" type="text/css" href="css/dark.css" />-->
<!--[if lt IE 9]> <script type="text/javascript" src="js/modernizr.custom.js"></script> <![endif]-->
<!-- /STYLES -->

</head>

<body> 
	
	<!-- PRELOADER -->
	<div id="preloader">
		<div class="loader_line"></div>
	</div>
	<!-- /PRELOADER -->
	
<!-- WRAPPER ALL -->
<div class="iknow_tm_all_wrap" data-magic-cursor="show"> <!-- If you want disable magic cursor change value to "hide" -->	
	
	<!-- MODALBOX -->
	<div class="iknow_tm_modalbox">
		<div class="box_inner">
			<div class="close">
				<a href="#"><img class="svg" src="/static/img/svg/cancel.svg" alt="" /></a>
			</div>
			<div class="description_wrap"></div>
		</div>
	</div>
	<!-- /MODALBOX -->
		
	<!-- TOPBAR -->
	<div class="iknow_tm_topbar" data-position="absolute">
		<div class="container">
			<div class="topbar_inner">
				<div class="logo">
					<a href="#"><img src="/static/img/logo.png" alt="" /></a>
				</div>
				<div class="right">
					<div class="social">
						<ul>
							<li><a href="#"><img class="svg" src="/static/img/svg/social/facebook.svg" alt="" /></a></li>
							<li><a href="#"><img class="svg" src="/static/img/svg/social/twitter.svg" alt="" /></a></li>
							<li><a href="#"><img class="svg" src="/static/img/svg/social/youtube.svg" alt="" /></a></li>
							<li><a href="#"><img class="svg" src="/static/img/svg/social/instagram.svg" alt="" /></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /TOPBAR -->
	
	<!-- HERO -->
	<div class="iknow_tm_hero">
		<div class="background_shape"></div>
		<div class="hero_content">
			<div class="container">
				<div class="content_inner">
					<div class="main_info">
						<div class="left">
							<span class="subtitle">Let's Analyze Your <br> Skin Type!</span>
							<!-- <h5 class="name">Let's Analyze Your Skin Type</h5> -->
							<p class="text">Treat problem your skin and <br> maintain a clear, calm complexion.</p>
							<div class="iknow_tm_video">
								<div class="iknow_tm_button">
									<a onclick="openModal()">Rating</a>
								</div>
							</div>
							<div id="rating-popup">
								<h2 >Rate our Diagnosis</h2>
								<div class="star-rating">
									<input type="radio" id="star5" name="rating" value="5"><label for="star5">☆</label>
									<input type="radio" id="star4" name="rating" value="4"><label for="star4">☆</label>
									<input type="radio" id="star3" name="rating" value="3"><label for="star3">☆</label>
									<input type="radio" id="star2" name="rating" value="2"><label for="star2">☆</label>
									<input type="radio" id="star1" name="rating" value="1"><label for="star1">☆</label>
								</div>
								<button id="submit-rating" onclick="submitRating()">Submit Rating</button>
							</div>
						</div>
						<div class="right">
							<div class="image">
								<img src="/static/img/poster.png" alt="" />
								<!-- <div class="main" data-img-url="https://images.pexels.com/photos/5452293/pexels-photo-5452293.jpeg?auto=compress&cs=tinysrgb&w=600"></div> -->
								<div class="main" data-img-url="https://images.pexels.com/photos/5215024/pexels-photo-5215024.jpeg?auto=compress&cs=tinysrgb&w=600"></div>
							</div>
						</div>
					</div>
					<div class="main_menu">
						<ul>
							<li>
								<img class="svg" src="/static/img/svg/1.svg" alt="" />
								<span>Dermaspect</span>
								<a class="iknow_tm_full_link" href="#about"></a>
							</li>
							<li>
								<img class="svg" src="/static/img/svg/2.svg" alt="" />
								<span>Cara Merawat  Kulit</span>
								<a class="iknow_tm_full_link" href="#resume"></a>
							</li>
							<li>
								<img class="svg" src="/static/img/svg/3.svg" alt="" />
								<span>Jenis-jenis Kulit</span>
								<a class="iknow_tm_full_link" href="#portfolio"></a>
							</li>
							<li>
								<img class="svg" src="/static/img/svg/4.svg" alt="" />
								<span>Cek Jenis Kulit</span>
								<a class="iknow_tm_full_link" href="#contact"></a>
							</li>
						</ul>
					</div>
				</div>


			</div>
		</div>
		
		<!-- Hero Shapes -->
		<div class="simple_shapes">
			<span class="one anim_scale"><img class="svg" src="/static/img/svg/shapes/9.svg" alt="" /></span>
			<span class="two anim_moveLeft"><img class="svg" src="/static/img/svg/shapes/dot.svg" alt="" /></span>
			<span class="three anim_moveTop"><img class="svg" src="/static/img/svg/shapes/dot-2.svg" alt="" /></span>
			<span class="seven anim_right"><img class="svg" src="/static/img/svg/shapes/4.svg" alt="" /></span>
			<span class="eight anim_scale"><img class="svg" src="/static/img/svg/shapes/9.svg" alt="" /></span>
			<span class="nine anim_circle"><img class="svg" src="/static/img/svg/shapes/3.svg" alt="" /></span>
			<span class="ten anim_moveLeft"><img class="svg" src="/static/img/svg/shapes/4.svg" alt="" /></span>
			<span class="eleven anim_scale"><img class="svg" src="/static/img/svg/shapes/9.svg" alt="" /></span>
			<span class="twelve anim_extra"><img class="svg" src="/static/img/svg/shapes/2.svg" alt="" /></span>
			<span class="thirteen anim_circle"><img class="svg" src="/static/img/svg/shapes/5.svg" alt="" /></span>
			<span class="fourteen anim_scale"><img class="svg" src="/static/img/svg/shapes/9.svg" alt="" /></span>
			<span class="fifteen anim_circle"><img class="svg" src="/static/img/svg/shapes/3.svg" alt="" /></span>
			<span class="sixteen anim_scale"><img class="svg" src="/static/img/svg/shapes/9.svg" alt="" /></span>
			<span class="seventeen anim_circle"><img class="svg" src="/static/img/svg/shapes/5.svg" alt="" /></span>
			<span class="eighteen anim_scale"><img class="svg" src="/static/img/svg/shapes/9.svg" alt="" /></span>
			<span class="nineteen anim_scale"><img class="svg" src="/static/img/svg/shapes/9.svg" alt="" /></span>
			<span class="twenty anim_circle"><img class="svg" src="/static/img/svg/shapes/1.svg" alt="" /></span>
		</div>
		<!-- /Hero Shapes -->
		
	</div>
	<!-- /HERO -->
	
	<!-- MAINPART -->
	<div class="container">
		<div class="iknow_tm_mainpart">
	
			<!-- ABOUT -->


			<div id="about" class="iknow_tm_main_section">
				<div class="iknow_tm_about">
					<div style="display: flex;">
						<!-- Right Section -->
						<div style="flex: 2;">
							<div class="iknow_tm_main_title">
								<h3 style="color: #E48F9C;">Tentang Dermaspect</h3>
							</div>
							<div class="text">
								<p>Dermaspect adalah sebuah platform web yang dirancang untuk menganalisis dan mendiagnosa
									jenis kulit Anda. Dengan menggunakan teknologi canggih dan data ilmiah terkini,
									Dermaspect membantu pengguna memahami kondisi kulit mereka secara mendalam.</p>
								<p>Melalui serangkaian pertanyaan dan analisis visual, Dermaspect memberikan hasil diagnosis
									yang akurat mengenai tipe kulit, masalah kulit yang mungkin dihadapi, serta
									rekomendasi perawatan kulit yang tepat.</p>
								<p>Baik untuk kulit kering, berminyak, sensitif, atau kombinasi, Dermaspect menyediakan
									informasi dan saran yang dipersonalisasi untuk membantu Anda merawat kulit Anda dengan
									lebih baik.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- /ABOUT -->
			
			<!-- RESUME -->
			<div id="resume" class="iknow_tm_main_section">
				<div class="iknow_tm_resume">
					<div class="iknow_tm_main_title">
						<h3 style="color: #E48F9C;">Cara Merawat Kulit</h3>
						<div class="text">
							<p>Kulit adalah organ terbesar kita dan memiliki peran penting dalam melindungi tubuh
								dari elemen-elemen eksternal dan menjaga keseimbangan air. Merawat kulit dengan
								baik adalah kunci untuk menjaga kulit tetap sehat, terlihat cantik, dan berfungsi
								dengan baik. Berikut adalah beberapa tips untuk merawat kulit Anda dengan benar:
							</p>
						</div>
					</div>
					<div class="resume_inner">
						<div class="">
							<div class="info_list">
								
								<ul>
									<li>
										<div class="list_inner">
											<div class="short">
												<div class="job">
													<div class="iknow_tm_resume_title">
														<h3>Menjaga Kelembapan Kulit</h3>
														<span class="shape"></span>
													</div>
												</div>
											</div>
											<div class="text">
												<p>1.  Gunakan pelembap secara teratur, terutama setelah 
													mandi atau mencuci wajah.
												</p>

												<p>2.  Pilih pelembap yang sesuai dengan jenis kulit Anda. Jika kulit Anda cenderung 
													kering, pilih pelembap yang kaya akan bahan pelembap. Jika kulit Anda berminyak,
													pilih pelembap yang ringan dan tidak mengandung minyak tambahan.
												</p>

												<p>3. Hindari mandi air panas terlalu sering, karena dapat mengurangi kelembapan 
													alami kulit.
												</p>
											</div>
										</div>
									</li>

									<li>
										<div class="list_inner">
											<div class="short">
												<div class="job">
													<div class="iknow_tm_resume_title">
														<h3>Membersihkan Kulit dengan Lembut</h3>
														<span class="shape"></span>
													</div>
												</div>
											</div>
											<div class="text">
												<p>1.  Gunakan pembersih yang lembut dan cocok dengan jenis kulit Anda.</p>

												<p>2.  Hindari menggosok kulit terlalu keras saat membersihkan wajah atau tubuh,
													karena hal ini dapat mengiritasi kulit dan menyebabkan kerusakan.
												</p>
										</div>
									</li>

									<li>
										<div class="list_inner">
											<div class="short">
												<div class="job">
													<div class="iknow_tm_resume_title">
														<h3>Melindungi dari Sinar Matahari</h3>
														<span class="shape"></span>
													</div>
												</div>
											</div>
											<div class="text">
												<p>1.  Gunakan tabir surya setiap hari, bahkan saat cuaca mendung atau di dalam ruangan.</p>

												<p>2.  Pilih tabir surya dengan SPF yang sesuai dengan jenis kulit Anda dan
													aplikasikan ulang setiap dua jam sekali jika Anda berada di bawah sinar
													matahari langsung.
												</p>
											</div>
										</div>
									</li>

									<li>
										<div class="list_inner">
											<div class="short">
												<div class="job">
													<div class="iknow_tm_resume_title">
														<h3>Menjaga Pola Makan Sehat</h3>
														<span class="shape"></span>
													</div>
												</div>
											</div>
											<div class="text">
												<p>1.  Konsumsi makanan yang kaya akan antioksidan, vitamin, dan mineral,
													seperti buah-buahan, sayuran, dan biji-bijian, dapat membantu menjaga
													kulit tetap sehat dan bercahaya.
												</p>

												<p>2.  Minumlah cukup air setiap hari untuk menjaga kelembapan kulit dari dalam.</p>
											</div>
										</div>
									</li>

									<li>
										<div class="list_inner">
											<div class="short">
												<div class="job">
													<div class="iknow_tm_resume_title">
														<h3>Istirahat yang Cukup</h3>
														<span class="shape"></span>
													</div>
												</div>
											</div>
											<div class="text">
												<p>1.  Tidur yang cukup dan berkualitas sangat penting untuk regenerasi
													kulit dan memperbaiki kerusakan sel-sel kulit.
												</p>
											</div>
										</div>
									</li>

									<li>
										<div class="list_inner">
											<div class="short">
												<div class="job">
													<div class="iknow_tm_resume_title">
														<h3>Konsultasi dengan Ahli Kulit</h3>
														<span class="shape"></span>
													</div>
												</div>
											</div>
											<div class="text">
												<p>1.  Jika Anda memiliki masalah kulit tertentu atau tidak yakin tentang
													perawatan kulit yang tepat, konsultasikan dengan ahli kulit untuk
													saran dan perawatan yang lebih lanjut.
												</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /RESUME -->
			
			<!-- PORTFOLIO -->
			<div id="portfolio" class="iknow_tm_main_section">
				<div class="iknow_tm_portfolio">
					<div class="iknow_tm_main_title">
						<h3 style="color: #E48F9C;">Jenis-jenis Kulit</h3>
					</div>
					<div class="portfolio_filter">
						<ul>
							<li><a href="#" data-filter=".normal">Normal</a></li>
							<li><a href="#" data-filter=".berminyak">Berminyak</a></li>
							<li><a href="#" data-filter=".kering">Kering</a></li>
							<li><a href="#" data-filter=".kombinasi">Kombinasi</a></li>
							<li><a href="#" data-filter=".sensitif">Sensitif</a></li>
						</ul>
					</div>
					<div class="portfolio_list">
						<ul class="gallery_zoom">
							<li class="normal">
								<div class="list_inner">
									<div class="image">
										<img src="/static/img/thumbs/1-1.jpg" alt="" />
										<div class="main" data-img-url="https://i.pinimg.com/236x/23/9e/09/239e098030fd7be11fc350d48c9a93e5.jpg"></div>
									</div>
									<div class="overlay"></div>
									<img class="svg" src="/static/img/svg/text.svg" alt="" />
									<div class="details">
										<h3>Kulit Normal</h3>
									</div>
								</div>
							</li>

							<li class="berminyak">
								<div class="list_inner">
									<div class="image">
										<img src="/static/img/thumbs/1-1.jpg" alt="" />
										<div class="main" data-img-url="https://i.pinimg.com/736x/22/d6/d0/22d6d0709c49ab887c5adc9ae884fb49.jpg"></div>
									</div>
									<div class="overlay"></div>
									<img class="svg" src="/static/img/svg/text.svg" alt="" />
									<div class="details">
										<h3>Kulit Berminyak</h3>
									</div>
								</div>
							</li>

							<li class="kering">
								<div class="list_inner">
									<div class="image">
										<img src="/static/img/thumbs/1-1.jpg" alt="" />
										<div class="main" data-img-url="https://i.pinimg.com/236x/81/d6/c8/81d6c88f8161a8d791c8ac50f08d8872.jpg"></div>
									</div>
									<div class="overlay"></div>
									<img class="svg" src="/static/img/svg/text.svg" alt="" />
									<div class="details">
										<h3>Kulit Kering</h3>
									</div>
								</div>
							</li>

							<li class="kombinasi">
								<div class="list_inner">
									<div class="image">
										<img src="/static/img/thumbs/1-1.jpg" alt="" />
										<div class="main" data-img-url="https://i.pinimg.com/236x/af/72/ed/af72ed9694dbb42ff7b2ab4152359b5a.jpg"></div>
									</div>
									<div class="overlay"></div>
									<img class="svg" src="/static/img/svg/text.svg" alt="" />
									<div class="details">
										<h3>Kulit Kombinasi</h3>
									</div>
								</div>
							</li>
							
							<li class="sensitif">
								<div class="list_inner">
									<div class="image">
										<img src="/static/img/thumbs/1-1.jpg" alt="" />
										<div class="main" data-img-url="https://i.pinimg.com/236x/ac/c1/34/acc134d3f1b18069342c7b8b67d297af.jpg"></div>
									</div>
									<div class="overlay"></div>
									<img class="svg" src="/static/img/svg/text.svg" alt="" />
									<div class="details">
										<h3>Kulit Sensitif</h3>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /PORTFOLIO -->
			
			
			
			
			<!-- CONTACT -->
			<div id="contact" class="iknow_tm_main_section">
				<div class="iknow_tm_contact">
					<div class="iknow_tm_main_title">
						<h3 style="color: #E48F9C;">Cek Jenis Kulit</h3>
					</div>
					<div class="wrapper">
						<div class="right">
							<div class="fields" id="form_awal">
								<form action="/" method="post" class="contact_form" id="contact_form" autocomplete="off">
									<div class="returnmessage" data-success="Your message has been received, We will contact you soon."></div>
									<div class="empty_notice"><span>Please Fill Required Fields</span></div>
									<div class="input_list">
										<ul>
											<li><input id="name" name="nama" type="text" placeholder="Nama" required /></li>
											<li><input id="usia" name="usia" type="number" placeholder="Usia" required /></li>
										</ul>
									</div>
									<div class="dropdown">
										<select class="form-select" id="jenisKelamin" name="jeniskelamin" aria-label="Default select example" required>
											<option selected>Jenis Kelamin</option>
											<option value="Laki-Laki">Laki-laki</option>
											<option value="Perempuan">Perempuan</option>
										</select>
									</div>
									
									<div class="iknow_tm_button">
										<a id="lanjutkan" href="#">Submit</a>
									</div>
								</form>
							</div>
							<div class="hidden pertanyaan-selanjutnya" id="pertanyaan_selanjutnya">
								<div class="fields">                        
									<form method="POST" id="dynamic_form">
										<input type="hidden" class="namaValue" name="nama">
										<input type="hidden" class="usiaValue" name="usia">
										<input type="hidden" class="jenisValue" name="jeniskelamin">
										<div class="form-container">
											<div id="gejala_container">
												<div class="form-pair">
													<div>
														<select name="gejala[]" required>
															<option value="" disabled selected>Pilih Gejala</option>
															{% for gejala in gejala_options %}
																<option value="{{ gejala }}">{{ gejala }}</option>
															{% endfor %}
														</select>
													</div>
													<div>
														<select name="keyakinan[]" required>
															<option value="" disabled selected>Pilih Tingkat Keyakinan</option>
															{% for keyakinan, label in keyakinan_options %}
																<option value="{{ keyakinan }}">{{ label }}</option>
															{% endfor %}
														</select>
													</div>
												</div>
											</div>
											<div class="grup" style="margin-top: 50px;">
												<div class="poiu">
													<a id="back" href="#">Back</a>
												</div>
												<div class="poiu">
													<button type="button" id="add_gejala">Pilih Gejala Lain</button>
												</div>
												<div class="poiu">
													<input type="submit" value="Submit">
												</div>
											</div>
										</div>
									</form>
									{% if hasil %}
										<div class="result">
											<h2>Hasil Diagnosis:</h2>
											<p>{{ hasil }}</p>
										</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			<!-- /CONTACT -->

		</div>
	</div>
	<!-- /MAINPART -->
	
	<!-- COPYRIGHT -->
	<div class="iknow_tm_copyright hidden">
		<div class="container">
			<div class="inner">
				<div class="left">
					<p>Designed with love &copy; <a href="https://themeforest.net/user/marketify" target="_blank">Dermaspect</a></p>
				</div>
				<div class="right">
					<ul>
						<li><a href="#">Terms &amp; Condition</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- /COPYRIGHT -->
	
	<!-- MAGIC CURSOR -->
	<div class="mouse-cursor cursor-outer"></div>
	<div class="mouse-cursor cursor-inner"></div>
	<!-- /MAGIC CURSOR -->
		
</div>
<!-- / WRAPPER ALL -->
	
<!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- <script>

	document.getElementById("contact_form").addEventListener("click", function(event){
		event.preventDefault(); // Prevent the default link behavior

		var name = document.getElementById("name").value;
		var usia = document.getElementById("usia").value;
		var jenisKelamin = document.getElementById("jeniskelamin").value;

		// Display the values in the console
		// console.log("Nama: " + name);
		// console.log("Usia: " + usia);
		// console.log("Jenis Kelamin: " + jenisKelamin);

		// You can further process these values as needed
	});
</script> -->
<script src="/static/js/jquery.js"></script>
<!--[if lt IE 10]> <script type="text/javascript" src="js/ie8.js"></script> <![endif]-->	
<script src="/static/js/plugins.js"></script>
<script src="/static/js/init.js"></script>
<!-- Masukkan JavaScript Anda di sini -->
<!-- <script>
	document.getElementById("lanjutkan").addEventListener("click", function(event) {
		event.preventDefault(); // Mencegah form dari pengiriman default

        const name = document.getElementById('name').value;
        const usia = document.getElementById('usia').value;
        const jenisKelamin = document.getElementById('jenisKelamin').value;

       
        document.querySelector('.namaValue').value = name;
        document.querySelector('.usiaValue').value = usia;
        document.querySelector('.jenisValue').value = jenisKelamin;

       
        console.log('Nama:', name);
        console.log('Usia:', usia);
        console.log('Jenis Kelamin:', jenisKelamin);

		// Sembunyikan form input awal
		document.getElementById("form_awal").classList.add("hidden");

		// Tampilkan pertanyaan selanjutnya
		document.getElementById("pertanyaan_selanjutnya").classList.remove("hidden");
	});

	document.getElementById("back").addEventListener("click", function(event) {
		event.preventDefault(); // Mencegah link dari tindakan default

		// Tampilkan form input awal
		document.getElementById("form_awal").classList.remove("hidden");

		// Sembunyikan pertanyaan selanjutnya
		document.getElementById("pertanyaan_selanjutnya").classList.add("hidden");
	});
</script> -->
<!-- /SCRIPTS -->

<script>
	$(document).ready(function(){
		$('#lanjutkan').click(function(e){
			e.preventDefault();
			$('.namaValue').val($('#name').val());
			$('.usiaValue').val($('#usia').val());
			$('.jenisValue').val($('#jenisKelamin').val());
			$('#form_awal').hide();
			$('#pertanyaan_selanjutnya').show();
		});
	
		$('#back').click(function(e){
			e.preventDefault();
			$('#pertanyaan_selanjutnya').hide();
			$('#form_awal').show();
		});
	
		$('#add_gejala').click(function(){
			var newFormPair = `
				<div class="form-pair">
					<div>
						<select name="gejala[]" required>
							<option value="" disabled selected>Pilih Gejala</option>
							{% for gejala in gejala_options %}
								<option value="{{ gejala }}">{{ gejala }}</option>
							{% endfor %}
						</select>
					</div>
					<div>
						<select name="keyakinan[]" required>
							<option value="" disabled selected>Pilih Tingkat Keyakinan</option>
							{% for keyakinan, label in keyakinan_options %}
								<option value="{{ keyakinan }}">{{ label }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			`;
			$('#gejala_container').append(newFormPair);
		});
	});
	
</script>

<script>
	function openModal() {
		document.getElementById('rating-popup').style.display = 'block';
	}

	function submitRating() {
		// Add your rating submission logic here
		alert('Rating submitted! Thank you.');
		document.getElementById('rating-popup').style.display = 'none';
	}
</script>

</body>
</html>